*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.progressBar
{
    height: 3px;
    width: 10px;
    background-color: red;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.progressBar:hover
{
    width: 100vw;
}

.progBar2
{
    background-color: purple;
    height: 4px;
    width: 0px;
    animation : ProgressBarAnimation 1s ease-in-out 0s 1;
}

@keyframes ProgressBarAnimation{
    /* from{
        width: 0px;
    }
    to{
        width: 100vw;
    } */

    0% {
        width: 0px;
    }
    50% {
        width: 80vw;
    }
    100% {
        width: 100vw;
    }

}

.imagebox
{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Rotating-Image 3s linear infinite;
}

@keyframes Rotating-Image{
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 180deg;
    }
    100% 
    {
        rotate: 360deg;
    }
}

.slider
{
    background-color: cadetblue;
    margin-top: 40px;
    height: 300px;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img1
{
    transform: translate(-100vw);    
    /*translate '28'vw to bring this image forward*/

    animation: slide2 2s 2s forwards;
}

.img2
{
    transform: translate(-15vw);  
    /*translate '70'vw to bring this image forward*/

    /*translate '-65'vw to bring this image backward*/

    animation: slide1 4s 2s forwards;
}

@keyframes slide1 {
    0% {
        transform: translate(-15vw);
    }
    100% {
        transform: translate(100vw);
    }
}

@keyframes slide2 {
    0% {
        transform: translate(-35vw);
    }
    100% {
        transform: translate(12.5vw);
    }
}